.custom-email-input input {
	padding: 0.5rem 1rem;
	outline: 1px solid black;
}

.custom-email-input input:focus {
	border: none;
}

.custom-textarea textarea {
	padding: 0.5rem 1rem;
	outline: 1px solid black;
}

.custom-textarea textarea:focus {
	border: none;
}
